:root {
  --x-card-group-label-fg: var(--x-fg);
  --x-card-group-split-color: oklch(0 0 0 / 0.1);
  --x-card-group-bg-hover: oklch(0 0 0 / 0.05);
}
:global([data-theme="dark"]) {
  --x-card-group-label-fg: var(--x-fg);
  --x-card-group-split-color: oklch(1 0 0 / 0.1);
  --x-card-group-bg-hover: oklch(1 0 0 / 0.05);
}
.main {
  display: grid;
  grid-template-columns: minmax(var(--min-width), var(--max-width)) 1fr;
  gap: var(--x-gutter-sm);
  border-radius: var(--x-radius);
  &:hover {
    background: var(--x-card-group-bg-hover);
  }
}
.label {
  // display: flex;
  // align-items: center;
  color: var(--x-card-group-label-fg);
  font-family: var(--x-text-font-family);
  text-align: right;
  word-break: normal;
  &::after {
    content: ":";
  }
}
.content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--x-gutter-sm);
}
