:root {
  --x-module-header-bg: oklch(1 0 0 / 0.75);
  --x-module-header-fg: oklch(0 0 0);
  --x-module-header-title-fg: oklch(0 0 0 / 0.7);
  --x-module-header-title-bg: oklch(0 0 0 / 0.1);
  --x-module-body-bg: var(--x-module-header-bg);
}
:global([data-theme="dark"]) {
  --x-module-header-bg: oklch(1 0 0 / 0.1);
  --x-module-header-fg: oklch(1 0 0 / 0.7);
  --x-module-header-title-fg: oklch(1 0 0 / 0.7);
  --x-module-header-title-bg: oklch(1 0 0 / 0.1);
  --x-module-body-bg: var(--x-module-header-bg);
}
.main {
  position: relative;
  flex-grow: 1;
  scroll-margin-top: 0;
}
.header {
  display: flex;
  align-items: center;
  // z-index: 10;
  border-radius: var(--x-radius) var(--x-radius) 0 0;
  background: var(--x-module-header-bg);
  // backdrop-filter: blur(5px);
  // background: var(--x-module-header-bg);
  padding: 1px;
  // position: sticky;
  // top: 0;
  width: fit-content;
  color: var(--x-module-header-fg);
  font-size: 1rem;
  white-space: nowrap;
}
.title {
  font-weight: normal;
}
.body {
  display: grid;
  gap: var(--x-gutter-sm);
  border-radius: 0 var(--x-radius) var(--x-radius) var(--x-radius);
  background: var(--x-module-body-bg);
  padding: var(--x-gutter);
}
