:root {
  --x-network-stats-tx-fg: oklch(0.58 0.17 36);
  --x-network-stats-tx-bg: oklch(0.53 0.21 44 / 0.1);
  --x-network-stats-rx-fg: oklch(0.55 0.18 142);
  --x-network-stats-rx-bg: oklch(0.44 0.18 142 / 0.1);
}
:global([data-theme="dark"]) {
  --x-network-stats-tx-fg: oklch(0.72 0.15 51);
  --x-network-stats-tx-bg: oklch(0.7 0.21 46 / 0.15);
  --x-network-stats-rx-fg: oklch(0.7 0.2 142);
  --x-network-stats-rx-bg: oklch(0.7 0.2 142 / 0.15);
}
.main {
  display: grid;
  grid-template-areas:
    "network-stats-item-id network-stats-item-id"
    "network-stats-item-rx network-stats-item-tx";
  gap: 1px;
}
.id {
  grid-area: network-stats-item-id;
  text-align: center;
}
.label {
  opacity: 0.95;
}
.total {
  opacity: 0.95;
  font-weight: bold;
}
.rx,
.tx {
  display: grid;
  position: relative;
  padding: var(--x-gutter-sm);
  font-family: "Tahoma", var(--x-code-font-family);
  text-align: center;
}
.rx {
  grid-area: network-stats-item-rx;
  border-radius: var(--x-radius) 0 0 var(--x-radius);
  background: var(--x-network-stats-rx-bg);
  color: var(--x-network-stats-rx-fg);
}
.tx {
  grid-area: network-stats-item-tx;
  border-radius: 0 var(--x-radius) var(--x-radius) 0;
  background: var(--x-network-stats-tx-bg);
  color: var(--x-network-stats-tx-fg);
}
.rateRx,
.rateTx {
  font-weight: bold;
  font-size: 1.5rem;
}
