:root {
  --x-network-stats-tx-fg: oklch(0.58 0.17 36);
  --x-network-stats-tx-bg: oklch(0.53 0.21 44 / 0.1);
  --x-network-stats-rx-fg: oklch(0.55 0.18 142);
  --x-network-stats-rx-bg: oklch(0.44 0.18 142 / 0.1);
}
:global([data-theme="dark"]) {
  --x-network-stats-tx-fg: oklch(0.715 0.15 51);
  --x-network-stats-tx-bg: oklch(0.7 0.21 46 / 0.15);
  --x-network-stats-rx-fg: oklch(0.7 0.2 142);
  --x-network-stats-rx-bg: oklch(0.7 0.2 142 / 0.15);
}
.main {
  display: grid;
  grid-template-areas:
    "network-stats-item-id network-stats-item-id"
    "network-stats-item-rx network-stats-item-tx";
  gap: 1px;
}
.id {
  grid-area: network-stats-item-id;
  text-align: center;
}
.type {
  &::before {
    opacity: 0.5;
    content: "▼";
    font-size: 1rem;
  }
}
.rx,
.tx {
  display: grid;
  position: relative;
  grid-area: network-stats-item-rx;
  border-radius: var(--x-radius) 0 0 var(--x-radius);
  background: var(--x-network-stats-rx-bg);
  padding: var(--x-gutter-sm);
  color: var(--x-network-stats-rx-fg);
  font-family: "Arial Black", var(--x-code-font-family);
  text-align: center;
}
.tx {
  grid-area: network-stats-item-tx;
  border-radius: 0 var(--x-radius) var(--x-radius) 0;
  background: var(--x-network-stats-tx-bg);
  color: var(--x-network-stats-tx-fg);
  .type {
    &::before {
      content: "▲";
    }
  }
}
.totalRx,
.rateRx,
.totalTx,
.rateTx {
}
.rateRx,
.rateTx {
  font-weight: bold;
  font-size: 1.5rem;
}
