:root {
  --x-meter-height: 5px;
  --x-meter-bg: linear-gradient(to bottom, oklch(0 0 0 / 0.1), oklch(0 0 0 / 0.05));
  --x-meter-bar-bg: oklch(0 0 0 / 0.1);
  --x-meter-value-bg: oklch(0.79 0.25 142);
  --x-meter-value-optimum-bg: oklch(0.63 0.22 142);
  --x-meter-value-suboptimum-bg: oklch(0.76 0.14 72);
  --x-meter-value-even-less-good-bg: oklch(0.49 0.19 28);
  --x-meter-filter: none;
}

:global([data-theme="dark"]) {
  --x-meter-bg: linear-gradient(to bottom, oklch(1 0 0 / 0.15), oklch(1 0 0 / 0.1));
  --x-meter-bar-bg: oklch(1 0 0 / 0.1);
  --x-meter-value-optimum-bg: oklch(0.63 0.22 142);
  --x-meter-value-suboptimum-bg: oklch(0.68 0.14 70);
  --x-meter-value-even-less-good-bg: oklch(0.49 0.19 28);
  --x-meter-filter: brightness(0.5);
}
.main {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "x-meter-name x-meter-percent"
    "x-meter-name x-meter-overview"
    "x-meter-core x-meter-core ";
  gap: var(--x-gutter-sm);
  // border-radius: var(--x-radius);
  // background: var(--x-meter-bar-bg);
  // padding: var(--x-gutter-sm);
  // &:hover {
  //   background: var(--x-meter-bar-bg-hover);
  // }
}
.percent {
  grid-area: x-meter-percent;
  text-align: right;
}
.name {
  all: unset;
  display: flex;
  grid-area: x-meter-name;
  align-items: center;
  border: none;
  background: none;
  color: var(--x-bg-fg);
}
.nameText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-width: 15rem;
  line-clamp: 2;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.overview {
  grid-area: x-meter-overview;
}
.core {
  grid-area: x-meter-core;
  appearance: none;
  border: none;
  border-radius: var(--x-meter-height);
  background: var(--x-meter-bg);
  width: 100%;
  height: var(--x-meter-height);
  &::-webkit-meter-bar {
    border-radius: var(--x-meter-height);
    background: unset;
    height: var(--x-meter-height);
  }
  &::-webkit-meter-optimum-value {
    border-radius: var(--x-meter-height);
    background: var(--x-meter-value-optimum-bg);
  }
  &::-webkit-meter-suboptimum-value {
    border-radius: var(--x-meter-height);
    background: var(--x-meter-value-suboptimum-bg);
  }
  &::-webkit-meter-even-less-good-value {
    border-radius: var(--x-meter-height);
    background: var(--x-meter-value-even-less-good-bg);
  }
}
