:root {
  --x-error-fg: oklch(0.53 0.2 25);
  --x-error-bg: oklch(0.53 0.2 25 / 0.1);
  --x-error-icon-fg: oklch(0.53 0.2 25);
}
:global([data-theme="dark"]) {
  --x-error-fg: oklch(0.7 0.13 20);
  --x-error-bg: oklch(0.7 0.13 20 / 0.1);
  --x-error-icon-fg: oklch(0.7 0.13 20);
}
.main {
  display: flex;
  position: relative;
  align-items: center;
  gap: var(--x-gutter-sm);
  border-radius: var(--x-radius);
  background: var(--x-error-bg);
  padding: var(--x-gutter-sm) var(--x-gutter);
  color: var(--x-error-fg);
  // font-family: var(--x-text-font-family);
  svg {
    width: 1em;
    height: 1em;
    color: var(--x-error-icon-fg);
  }
}
