:root {
  --x-search-fg: var(--x-fg);
  --x-search-fg-hover: var(--x-fg-hover);
  --x-search-fg-active: var(--x-fg-active);
  --x-search-bg: oklch(0 0 0 / 0.1);
  --x-search-bg-hover: oklch(0 0 0 / 0.15);
  --x-search-bg-active: oklch(0 0 0 / 0.05);
}
:global([data-theme="dark"]) {
  --x-search-fg: var(--x-fg);
  --x-search-bg: oklch(1 0 0 / 0.1);
  --x-search-bg-hover: oklch(1 0 0 / 0.15);
  --x-search-bg-active: oklch(1 0 0 / 0.05);
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--x-gutter-sm);
  opacity: 0.7;
  line-height: 1;
  &:empty::after {
    opacity: 0.5;
    content: "⊘";
    line-height: var(--x-line-height);
  }
}
.button {
  all: unset;
  cursor: pointer;
  border-radius: var(--x-radius);
  background: var(--x-search-bg);
  padding: calc(var(--x-gutter-sm) * 0.5) var(--x-gutter-sm);
  color: var(--x-search-fg);
  font-family: var(--x-code-font-family);
  &:hover {
    background: var(--x-search-bg-hover);
    color: var(--x-search-fg-hover);
  }
  &:active {
    background: var(--x-search-bg-active);
    color: var(--x-search-fg-active);
  }
}
