:root {
  --x-server-benchmark-bg: transparent;
  --x-server-benchmark-link-fg: oklch(0 0 0 / 0.9);
  --x-server-benchmark-link-bg: oklch(0 0 0 / 0.1);
}
:global([data-theme="dark"]) {
  --x-server-benchmark-link-fg: oklch(1 0 0 / 0.1);
  --x-server-benchmark-link-bg: oklch(1 0 0 / 0.1);
}
.main {
  display: grid;
  gap: var(--x-gutter-sm);
  border-radius: var(--x-radius);
  background: var(--x-server-benchmark-bg);
  padding: var(--x-gutter-sm);
  text-align: center;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.marks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--x-gutter-sm);
  cursor: pointer;
  border: none;
  border-radius: var(--x-radius);
  background: transparent;
  color: var(--x-server-benchmark-link-fg);
  font-size: 1.25rem;
  // font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  &:hover {
    background: var(--x-server-benchmark-link-bg);
  }
}
.sign {
  opacity: 0.5;
}
