:root {
  --x-toast-fg: oklch(100% 0 0 / 0.9);
  --x-toast-bg: oklch(0% 0 0 / 0.8);
  &:global([data-theme="dark"]) {
    --x-toast-fg: oklch(0% 0 0 / 0.9);
    --x-toast-bg: oklch(100% 0 0 / 0.8);
  }
}
.main {
  all: unset;
  position: fixed;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  backdrop-filter: blur(5px);
  cursor: pointer;
  border: none;
  border-radius: var(--x-gutter);
  background: var(--x-toast-bg);
  padding: var(--x-gutter-sm) var(--x-gutter);
  max-width: 80vw;
  color: var(--x-toast-fg);
}
