:root {
  --x-server-benchmark-marks-fg: oklch(0.15 0 0 / 0.9);
  --x-server-benchmark-marks-fg-hover: oklch(0.1 0 0 / 0.9);
  --x-server-benchmark-marks-fg-active: oklch(0.2 0 0 / 0.9);
  --x-server-benchmark-marks-bg: oklch(0 0 0 / 0.05);
  --x-server-benchmark-marks-bg-hover: oklch(0 0 0 / 0.1);
  --x-server-benchmark-marks-bg-active: oklch(0 0 0 / 0.15);
}
:global([data-theme="dark"]) {
  --x-server-benchmark-marks-fg: oklch(0.95 0 0 / 0.9);
  --x-server-benchmark-marks-fg-hover: oklch(1 0 0 / 0.9);
  --x-server-benchmark-marks-fg-active: oklch(0.9 0 0 / 0.9);
  --x-server-benchmark-marks-bg: oklch(1 0 0 / 0.05);
  --x-server-benchmark-marks-bg-hover: oklch(1 0 0 / 0.1);
  --x-server-benchmark-marks-bg-active: oklch(1 0 0 / 0.01);
}
.main {
  display: grid;
  gap: calc(var(--x-gutter-sm) * 0.5);
  text-align: center;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.marks {
  all: unset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: calc(var(--x-gutter-sm) * 0.5);
  cursor: pointer;
  border-radius: var(--x-radius);
  background: var(--x-server-benchmark-marks-bg);
  color: var(--x-server-benchmark-marks-fg);
  font-size: 1.15rem;
  &:hover {
    background: var(--x-server-benchmark-marks-bg-hover);
    color: var(--x-server-benchmark-marks-fg-hover);
  }
  &:active {
    background: var(--x-server-benchmark-marks-bg-active);
    color: var(--x-server-benchmark-marks-fg-active);
  }
  [data-is-detail] {
    opacity: 0.7;
  }
}
.sign {
  opacity: 0.5;
}
