:root {
  --x-footer-fg: oklch(10% 0 0 / 0.5);
}
:global([data-theme="dark"]) {
  --x-footer-fg: oklch(90% 0 0 / 0.5);
}
.main {
  width: 100%;
  color: var(--x-footer-fg);
  text-align: center;
  word-break: normal;
  a {
    color: var(--x-footer-fg);
    &:hover {
      color: var(--x-footer-fg);
    }
  }
}
