:root {
  --x-status-ok-fg: oklch(100% 0 0 /0.95);
  --x-status-ok-bg: linear-gradient(oklch(0.6 0.22 142), oklch(0.7 0.24 142));
  --x-status-error-fg: oklch(100% 0 0/0.95);
  --x-status-error-bg: linear-gradient(oklch(0.56 0 0), oklch(0.77 0 0));
  --x-status-text-shadow: 0 1px 1px oklch(0 0 0 / 0.3);
}
:global([data-theme="dark"]) {
  --x-status-ok-fg: oklch(100% 0 0 / 0.9);
  --x-status-ok-bg: linear-gradient(oklch(0.3 0.22 142), oklch(0.35 0.23 142));
  --x-status-error-fg: oklch(100% 0 0/0.9);
  --x-status-error-bg: linear-gradient(oklch(0.3 0 0), oklch(0.35 0 0));
}
.main {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--x-radius);
  padding: 0 0.5rem;
  min-width: 2em;
  font-weight: bolder;
  font-family: "Arial Black", sans-serif;
  text-shadow: var(--x-status-text-shadow);
  white-space: nowrap;
  &[data-ok] {
    background: var(--x-status-ok-bg);
    color: var(--x-status-ok-fg);
  }
  &[data-error] {
    background: var(--x-status-error-bg);
    color: var(--x-status-error-fg);
  }

  &[data-ok][data-icon] {
    &::before {
      content: "✓";
    }
  }
  &[data-error][data-icon] {
    &::before {
      content: "×";
    }
  }
}
