:root {
  --x-nodes-usage-percent-bg: oklch(0 0 0 / 0.1);
}
:global([data-theme="dark"]) {
  --x-nodes-usage-percent-bg: oklch(1 0 0 / 0.1);
}
.main {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "x-nodes-usage-label x-nodes-usage-label"
    "x-nodes-usage-overview x-nodes-usage-percent"
    "x-nodes-usage-meter x-nodes-usage-meter";
  column-gap: var(--x-gutter-sm);
  row-gap: 0;
  // justify-content: center;
  // align-items: center;
  gap: var(--x-gutter-sm);
}
.meter {
  display: flex;
  grid-area: x-nodes-usage-meter;
  height: var(--x-meter-height);
}
.label {
  display: flex;
  grid-area: x-nodes-usage-label;
  align-items: center;
  gap: var(--x-gutter-sm);
  svg {
    width: 1em;
    height: 1em;
  }
}
.overview {
  display: flex;
  grid-area: x-nodes-usage-overview;
  gap: var(--x-gutter-sm);
}
.chart {
  display: none;
  // display: grid;
  grid-area: x-nodes-usage-chart;
}
.percent {
  grid-area: x-nodes-usage-percent;
  border-radius: var(--x-radius);
  background: var(--x-nodes-usage-percent-bg);
  padding: 0 var(--x-gutter);
}
