:root {
  --x-pip-chat-bg: oklch(0 0 0 / 0.1);
  --x-pip-chat-fg-low: oklch(0.64 0.2 142);
  --x-pip-chat-fg-medium: oklch(0.68 0.16 82);
  --x-pip-chat-fg-high: oklch(0.55 0.22 29);
  --x-pip-chat-text-fg: oklch(0 0 0);
}
:global([data-theme="dark"]) {
  --x-pip-chat-bg: oklch(1 0 0 / 0.1);
  --x-pip-chat-fg-low: oklch(0.78 0.18 142);
  --x-pip-chat-fg-medium: oklch(0.82 0.15 82);
  --x-pip-chat-fg-high: oklch(0.68 0.21 29);
  --x-pip-chat-text-fg: oklch(1 0 0);
}
.pieBg {
  stroke: var(--x-pip-chat-bg);
}
.pieFg {
  transition:
    stroke-dashoffset 1s ease-out,
    stroke 1s ease-in-out;
  &[data-status="low"] {
    stroke: var(--x-pip-chat-fg-low);
  }
  &[data-status="medium"] {
    stroke: var(--x-pip-chat-fg-medium);
  }
  &[data-status="high"] {
    stroke: var(--x-pip-chat-fg-high);
  }
}
.pipText {
  fill: var(--x-pip-chat-text-fg);
  // font-weight: normal;
  // font-size: 1.5rem;
  font-family: var(--x-code-font-family);
}
