:root {
  --x-des-fg: var(--x-fg);
  --x-des-accent: oklch(70.344% 0.16156 249.935);
}
:global([data-theme="dark"]) {
  --x-des-fg: var(--x-fg);
  --x-des-accent: oklch(70.344% 0.16156 249.935);
}
.main {
  display: grid;
  border-radius: var(--x-radius);
  color: var(--x-des-fg);
  font-family: var(--x-text-font-family);
  list-style-type: none;
}
.item {
  display: flex;
  align-items: center;
  gap: var(--x-gutter-sm);
  opacity: 0.65;
  svg {
    width: 1em;
    height: 1em;
  }
}
